body,
html {
  line-height: 1.15rem;
  font-weight: 400;
}

:root {
  --blog-header-h: 60px;
  --u1: #025e8d;
  --u2: #0088cc;
  --u3: #eff6fb;
  --u4: #17445a;
  --u5: #002d5b;
  --u6: #006699;
  --u7: #b10f10;
  --u8: #14303e;
}

@media (max-width: 960px) {
  .post-content-info {
    display: none !important;
  }
}

/* #profile-side {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transform: translateZ(666px);
  min-height: 100%;
  width: 240px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  transition: 0.4s;
  z-index: 500;
}

#profile-side.hide {
  transform: translateX(-100%);
}

.profile-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding-left: 20px;
}

#profile-side .profile-logo svg {
  display: inline-block;
  margin: 20px;
  width: 24px;
  height: 24px;
}

#profile-side .left-icon {
  fill: var(--gray-500);
}
#profile-side .logo-icon {
  fill: var(--usr-theme);
}

#profile-side .profile-pic {
  display: block;
  width: 160px;
  height: 160px;
  margin: 10px auto;
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
}

#profile-side .profile-pic img {
  width: auto;
  height: 100%;
}

#profile-side .profile-name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#profile-side .profile-bio {
  text-align: center;
  font-size: 0.7rem;
  margin: 0 5px;
}

#profile-side .profile-contact {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: nowrap;
  text-align: center;
}

#profile-side .profile-contact img {
  width: 24px;
  height: 24px; 
  margin: 0 8px;
}*/

/* 顶部导航栏 */
.top-navbar {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100vw;
  /* background-color: color-mix(in srgb, var(--usr-theme) 80%, #000 20%); */
  /* background-color: color-mix(
    in srgb,
    var(--usr-theme-invert) 80%,
    #ffffff 40%
  ); */
  background-color: var(--usr-theme);
  flex-direction: column;
  height: var(--blog-header-h) !important;
  transition: height 0.2s ease-in;
  z-index: 200;
}

.top-navbar-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-menu {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: var(--gray-50);
  padding: 0 45px;
  height: var(--blog-header-h);
  width: 100%;
}

.navbar-drop-down-list {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 0;
  font-size: 0.7rem;
  overflow-y: hidden;
  background-color: none;
  transition: all 0.5s ease-out;
}

#drop-down-list-articles,
#drop-down-list-columns,
#drop-down-list-tags {
  position: absolute;
  opacity: 0;
  top: 1rem;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  max-width: 80vw;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  color: var(--gray-900);
}
#drop-down-list-articles span,
#drop-down-list-columns span,
#drop-down-list-tags span {
  padding: 2px 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  pointer-events: inherit;
  cursor: pointer;
  /* border-bottom: var(--gray-900) 1px solid; */
}
#drop-down-list-articles span::before {
  display: inline-block;
  width: 1.3rem;
  text-align: center;
  content: var(--emoji-word-7);
  color: var(--gray-500);
}

#drop-down-list-columns span::before {
  display: inline-block;
  width: 1.35rem;
  text-align: center;
  content: var(--emoji-word-3);
  color: var(--usr-theme);
}

#drop-down-list-tags span::before {
  display: inline-block;
  width: 1.35rem;
  text-align: center;
  content: var(--emoji-word-1);
  color: var(--usr-theme-invert);
}

.scale-before-articles::before {
  content: var(--emoji-word-14) !important;
  cursor: pointer;
}
.scale-before-columns::before {
  content: var(--emoji-word-10) !important;
  cursor: pointer;
}
.scale-before-tags::before {
  content: var(--emoji-word-8) !important;
  cursor: pointer;
}

.slide-up {
  transform: translateY(5px) !important;
  opacity: 1 !important;
  transition: all 0.2s ease-out;
}

/* .top-navbar-bg-0, */
.top-navbar-bg {
  position: fixed;
  display: inline-block;
  background-color: color-mix(in srgb, var(--usr-theme) 8%, #ffffff);
  /* background-color: color-mix(in srgb, var(--usr-theme-invert) 45%, #000 40%); */
  width: 100vw;
  height: 0px;
  color: var(--gray-900);
  transition: height 0.3s ease-in-out;
  z-index: 50;
}
/* .top-navbar-bg-0 {
  background-color: var(--usr-theme);
  z-index: 100;
} */
.top-navbar-bg {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.top-navbar .left,
.top-navbar .right {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 24px;
  height: 24px;
  fill: var(--gray-500);
  stroke: var(--gray-500);
  cursor: pointer;
}
.top-navbar svg {
  padding-top: auto;
  padding-bottom: auto;
  width: 100%;
  height: 100%;
}
.left svg {
  fill: var(--gray-50);
}

.right svg {
  stroke: var(--gray-50);
}

.top-navbar .middle {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.top-navbar .middle .nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-navbar .middle .nav-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1px;
  background-color: var(--gray-50);
  bottom: -2px;
  left: 40%;
  width: 0%;
  transition: all 0.2s ease-in-out;
}

.ishover::before {
  left: 0 !important;
  width: 100% !important;
}

.change-font {
  color: var(--gray-100) !important;
}

/* 内容区域 */
.content-area {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 12vw;
  margin-right: auto;
  padding: 0;
  top: calc(var(--blog-header-h) + 45px);
  width: 75vw;
  min-width: 960px;
  z-index: 1;
  transition:
    margin-left 0.4s,
    width 0.4s cubic-bezier(0.18, 0.81, 0.3, 0.89);
  min-width: 768px;
  min-height: calc(100vh - var(--blog-header-h) - 110px);
}

.content-area .post-bar {
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--gray-800);
  font-size: 0.7rem;
}

.content-area .post-bar .post-bar-left,
.content-area .post-bar .post-bar-right {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto 10px;
}

.content-area .post-bar .chevron {
  margin: auto 4px;
  fill: var(--gray-300);
  width: 16px;
  height: 16px;
}

.front-font {
  color: var(--gray-300) !important;
}
.end-font {
  color: var(--gray-900) !important;
}

.post-bar-right {
  color: var(--gray-600);
  font-size: 0.6rem;
  padding: 10px 0;
  cursor: pointer;
}
.down-icon {
  transition: all 0.3s ease-out;
}
#sort {
  margin-right: 8px;
  color: color-mix(in srgb, var(--usr-theme-invert) 50%, #000000 30%);
}

.sort-item-container {
  position: absolute;
  top: 98%;
  right: 0;
  min-width: 100%;
  background-color: color-mix(in srgb, var(--usr-theme-invert) 4%, #ffffff);
  border-radius: 3px;
  height: 0;
  z-index: 500;
  transition: all 0.3s ease-out;

  overflow: hidden;
}

.sort-item-down-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  z-index: 600;
  transition: all 0.3s ease-out;
}

.sort-item:hover {
  background-color: color-mix(in srgb, var(--usr-theme-invert) 8%, #ffffff);
}

.sort-item {
  position: static;
  padding: 5px 25px 5px 12px;
  border-radius: 2px;
  width: 100%;
  text-wrap: nowrap;
}
.sort-item:first-child {
  padding-top: 10px !important;
}
.sort-item:last-child {
  padding-bottom: 10px !important;
}

.sort-item::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  text-wrap: nowrap;
  text-align: center;
}
.choice::before {
  content: ": )" !important;
}

/* 正文区域 */
.post-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-container .post-item {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.post-item:last-child {
  /* border-bottom: none !important; */
}

.post-content {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 0;
  box-shadow: none;
  overflow: hidden;
  color: inherit;
  gap: 8px;
}

.post-content-info {
  flex: 0 0 20%;
}

.post-content-category {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--gray-900);
}

.post-content-columns-items {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.01rem;
  color: var(--usr-theme);
  letter-spacing: -0.25px;
}
.post-content-date {
  font-size: 0.7rem;
  line-height: 1.4;
}

.post-content-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 24px;
}

.post-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px 0;
  line-height: 0.8rem;
}

.post-content-tags {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.post-content-tags-items {
  font-size: 0.55rem;
  background-color: color-mix(in srgb, var(--usr-theme-invert) 50%, #000 40%);
  color: var(--gray-50);
  border-radius: 2px;
  font-weight: 300;
  display: inline-block;
  white-space: nowrap;
  padding: 2px 6px;
  margin: 0 5px 0 0;
}

.post-content-reading-info {
  padding: 0;
  margin: 0;
}

.post-content-reading-info span {
  font-size: 0.6rem;
  color: var(--gray-600);
}

.post-content-word-counts::after {
  content: ",";
  margin: 0 1px;
}

.post-content-body .post-content-txt {
  display: flex;
  flex-direction: column;
  flex: 1 1 80%;
  width: 100%;
}

.post-content-separator {
  margin: 0 3px;
}

.post-content-body .post-content-img {
  flex: 0 0 0%;
  max-width: 230px;
}

.post-content-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.post-content-description {
  font-size: 0.7rem;
  height: 3.5rem;
  color: var(--gray-800);
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-content-bottom {
  font-size: 0.65rem;
  color: var(--gray-600);
  margin-top: auto;
  bottom: 0;
}

#page_nav {
  display: inline-flex;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  word-spacing: 0.2rem;
  color: var(--gray-800);
  gap: 1.5rem;
}
#prev:hover,
#next:hover {
  cursor: pointer;
}

.copyright {
  position: static;
  display: inline-flex;
  margin: 20px auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border-top: 1px var(--gray-500) solid; */
  /* background-color: var(--u1); */
  margin-top: calc(var(--blog-header-h) + 70px);
  margin-bottom: 20px;
  font-size: 0.5rem;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  letter-spacing: 0.08rem;
  gap: 10px;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}

/* 交互 */
.slide {
  display: inline-block;
  position: relative;
}

.slide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #333333;
  transition: all 0.3s linear;
}

.slide:hover::after {
  width: 100%;
}

.nohovered::after {
  animation: slideline 0.3s linear;
}

@keyframes slideline {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 50%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
