{% extends "base.html" %} {% load static %} {% block title %}Notes | Weinnz{% endblock %}
{% block link %}
<link
  rel="stylesheet"
  href="{% static 'plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}"
/>
<link rel="stylesheet" href="{% static 'css/notes.css' %}" />

{% endblock%} {% block main%}

<div id="topword">
  <span class="emoji-word">x )</span>
  reading, learning, inner peace.
  <span class="emoji-word">x ></span><br />
  /* 读书 学习 平静生活 */
</div>

<div class="notes-main">
  <div class="reading-notes-container">
    <div class="notes-mark">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
      >
        <path
          d="M8.345 12.917l4.894-4.894-4.894-4.898m4.895 4.898H2.36"
          stroke="#0E0D0D"
          stroke-miterlimit="10"
        />
      </svg>
      Reading notes
    </div>
    <div class="reading-notes">
      {% for note in reading_notes %}
      <div class="reading-notes-item">
        <a href="details/{{note.id}}" class="reading-notes-item-main">
          <div class="reading-notes-item-header">
            <div class="reading-icon"></div>
            <div class="title">{{note.title}}</div>
          </div>
          <div class="reading-notes-item-abstract">{{note.abstract}}</div>
          <div class="reading-notes-item-cover">
            <img src="{{note.cover}}" />
          </div>
          <div class="reading-notes-item-footer">
            <div class="book">
              <svg
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                fill="inherit"
              >
                <path
                  d="M960 164.9v639.5l-30.8 34.2H590.6l-54.7 54.7H488l-54.7-54.7H94.8L64 804.4V164.9l30.8-34.2H447l23.9 10.3 41 41 41-41 23.9-10.3H929l30.8 34.2z m-478.8 78.6l-47.9-47.9H129v578h318l20.5 10.3 13.7 10.3V243.5z m417.2-47.8H590.6l-44.5 44.5v550.6l6.8-6.8 23.9-10.3h321.5v-578zM385.5 387.2H190.6v-61.6h194.9v61.6z m0 256.5H190.6v-61.6h194.9v61.6z m-195-126.6h194.9v-65H190.5v65z m643-129.9H642v-61.6h191.5v61.6zM642 517.1h191.5v-65H642v65z m0 126.6h191.5v-61.6H642v61.6z"
                ></path>
              </svg>

              <div>{{note.book}}</div>
            </div>
            <div class="date">{{note.read_time | date}}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="travel-notes-container">
    <div class="notes-mark">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
      >
        <path
          d="M8.345 12.917l4.894-4.894-4.894-4.898m4.895 4.898H2.36"
          stroke="#0E0D0D"
          stroke-miterlimit="10"
        />
      </svg>

      Travel notes
    </div>
    <div class="reading-notes">
      {% for note in travel_notes %}
      <div class="reading-notes-item">
        <a href="details/{{note.id}}" class="travel-notes-item-main">
          <div class="reading-notes-item-header">
            <div class="travel-icon"></div>
            <div class="title">{{note.title}}</div>
          </div>
          <div class="reading-notes-item-abstract">{{note.abstract}}</div>
          <div class="reading-notes-item-cover">
            <img src="{{note.cover}}" />
          </div>
          <div class="reading-notes-item-footer">
            <div class="location">
              <svg
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              >
                <path
                  d="M512 64c212.074667 0 384 170.282667 384 380.373333 0 93.866667-34.346667 179.84-91.306667 246.186667l-6.613333 7.616c-43.904 49.877333-124.586667 130.432-242.069333 241.664a64 64 0 0 1-84.864 2.816l-3.157334-2.816-36.544-34.752c-103.573333-98.901333-174.293333-170.389333-212.117333-214.485333A376.746667 376.746667 0 0 1 128 444.373333C128 234.282667 299.925333 64 512 64z m0 64C335.146667 128 192 269.781333 192 444.373333c0 76.010667 27.136 147.754667 75.882667 204.544l6.357333 7.296c39.957333 45.354667 113.450667 119.018667 219.669333 219.989334l18.090667 17.173333 52.224-49.749333c93.482667-89.664 157.674667-154.858667 191.914667-194.752A312.661333 312.661333 0 0 0 832 444.373333C832 269.781333 688.853333 128 512 128z m0 170.666667a149.333333 149.333333 0 1 1 0 298.666666 149.333333 149.333333 0 0 1 0-298.666666z m0 64a85.333333 85.333333 0 1 0 0 170.666666 85.333333 85.333333 0 0 0 0-170.666666z"
                ></path>
              </svg>
              <div>{{note.location}}</div>
            </div>
            <div class="date">{{note.travel_time | date}}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="life-notes-container">
    <div class="notes-mark">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
      >
        <path
          d="M8.345 12.917l4.894-4.894-4.894-4.898m4.895 4.898H2.36"
          stroke="#0E0D0D"
          stroke-miterlimit="10"
        />
      </svg>

      Life notes
    </div>
    <div class="reading-notes">
      {% for note in life_notes %}
      <div class="reading-notes-item">
        <a href="details/{{note.id}}" class="life-notes-item-main">
          <div class="reading-notes-item-header">
            <div class="life-icon"></div>
            <div class="title">{{note.title}}</div>
          </div>
          <div class="reading-notes-item-abstract">{{note.abstract}}</div>
          <div class="reading-notes-item-cover">
            <img src="{{note.cover}}" />
          </div>
          <div class="reading-notes-item-footer">
            <div class="theme">
              <svg
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              >
                <path
                  d="M322 896.1c-41.6 0-78.6-30.5-85.8-73.5-8-47.8 23.8-93.1 70.9-101 47.1-7.9 92 24.5 100.1 72.3 8 47.8-23.8 93.1-70.9 101-4.9 0.8-9.6 1.2-14.3 1.2z m-0.7-125.7c-2 0-3.9 0.2-5.9 0.5-19.9 3.4-33.4 22.8-29.9 43.4 3.5 20.6 22.5 34.6 42.5 31.3 19.9-3.4 33.4-22.8 29.9-43.4-3.2-18.6-19-31.8-36.6-31.8z"
                ></path>
                <path
                  d="M388.8 821.9c-12 0-22.6-8.6-24.6-20.9-2.3-13.6 6.9-26.5 20.5-28.8l487.1-81.9c13.6-2.3 26.5 6.9 28.8 20.5s-6.9 26.5-20.5 28.8L393 821.5c-1.5 0.3-2.9 0.4-4.2 0.4zM310.1 764.6c-12 0-22.6-8.6-24.6-20.9l-74.1-440.4-68.8-66.4c-9.9-9.6-10.2-25.4-0.6-35.4 9.6-9.9 25.4-10.2 35.4-0.6l74.7 72.1c3.8 3.7 6.4 8.6 7.3 13.8l75.4 448.5c2.3 13.6-6.9 26.5-20.5 28.8-1.5 0.3-2.9 0.5-4.2 0.5zM446.5 740.6c-20.4 0-40.2-6.3-57.2-18.4-21.5-15.3-35.8-38.1-40.2-64.2l-50.9-302.7c-4.4-26.1 1.6-52.3 17-73.8s38.1-35.8 64.2-40.2L714.6 185c26.1-4.4 52.3 1.6 73.8 17 21.5 15.3 35.8 38.1 40.2 64.2l50.9 302.7c9 53.8-27.4 104.9-81.1 114l-335.1 56.4c-5.7 0.8-11.3 1.3-16.8 1.3z m284.6-507c-2.7 0-5.5 0.2-8.2 0.7l-335.1 56.4c-12.9 2.2-24.2 9.2-31.7 19.9s-10.6 23.6-8.4 36.5l50.9 302.7c2.2 12.9 9.2 24.2 19.9 31.7 10.6 7.6 23.6 10.6 36.5 8.4l335-56.4c26.6-4.5 44.6-29.8 40.1-56.4l-50.9-302.7c-2.2-12.9-9.2-24.2-19.9-31.7-8.3-6-18.2-9.1-28.2-9.1z m63 424.5z"
                ></path>
                <path
                  d="M534.9 626.4c-12 0-22.6-8.6-24.6-20.9-2.3-13.6 6.9-26.5 20.5-28.8l224-37.7c13.6-2.3 26.5 6.9 28.8 20.5s-6.9 26.5-20.5 28.8l-224 37.7c-1.4 0.3-2.8 0.4-4.2 0.4zM614 525.9c-12 0-22.6-8.6-24.6-20.9-2.3-13.6 6.9-26.5 20.5-28.8l130.7-22c13.6-2.3 26.5 6.9 28.8 20.5 2.3 13.6-6.9 26.5-20.5 28.8l-130.7 22c-1.4 0.3-2.8 0.4-4.2 0.4zM598.1 431.6c-12 0-22.6-8.6-24.6-20.9-2.3-13.6 6.9-26.5 20.5-28.8l130.7-22c13.6-2.3 26.5 6.9 28.8 20.5 2.3 13.6-6.9 26.5-20.5 28.8l-130.7 22c-1.4 0.3-2.8 0.4-4.2 0.4z"
                ></path>
              </svg>

              <div>{{note.theme}}</div>
            </div>
            <div class="date">{{note.record_time | date}}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  $(function () {
    $(".reading-notes-item-main").mouseenter(function () {
      $(this).find(".reading-icon").css({
        opacity: "1",
        "box-shadow": "0 0px 8px #ffbfbf",
      });
    });
    $(".reading-notes-item-main").mouseleave(function () {
      $(this).find(".reading-icon").css({
        opacity: "0.3",
        "box-shadow": "none",
      });
    });
    $(".travel-notes-item-main").mouseenter(function () {
      $(this).find(".travel-icon").css({
        opacity: "1",
        "box-shadow": "0 0px 8px #bfeaff",
      });
    });
    $(".travel-notes-item-main").mouseleave(function () {
      $(this).find(".travel-icon").css({
        opacity: "0.3",
        "box-shadow": "none",
      });
    });

    $(".life-notes-item-main").mouseenter(function () {
      $(this).find(".life-icon").css({
        opacity: "1",
        "box-shadow": "0 0px 8px #bfffca",
      });
    });
    $(".life-notes-item-main").mouseleave(function () {
      $(this).find(".life-icon").css({
        opacity: "0.3",
        "box-shadow": "none",
      });
    });
  });
</script>

{% endblock %}
